<!doctype html>
{% load static %}
<html lang="en-EN">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{% block favicon %}{% endblock %}" />
        <meta property="og:type" content="article">
        <meta property="og:title" content="{% block title_open_graph %}{% endblock %}"/>
        <meta property="og:site_name" content="{% block name_open_graph %}{% endblock %}"/>
        <meta property="og:url" content="http://165.227.129.247/investinfo/{% block url_open_graph %}{% endblock %}"/>
        <meta property="og:image:secure_url" content="{% block favicon_open_graph %}{% endblock %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>-->
        <!--        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>-->
        <!--        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    </head>
    <body>
    <nav class="nav-extend">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">&nbsp;Портфолио</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/investinfo">Список компаний</a></li>
                <li><a href="/investinfo/about">About</a></li>
            </ul>
        </div>
        {% block navi %}{% endblock %}
    </nav>
    <ul id="mobile-demo" class="sidenav">
        <li><a href="/investinfo">Список компаний</a></li>
        <li><a href="/investinfo/about">About</a></li>
    </ul>
    <div class="container">
        <!--                <div>-->
        <!--                    {% block date%}{% endblock %}-->
        <!--                </div>-->
        {% block content %}{% endblock %}
    </div>
    </body>
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
</html>
