{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-phone"></div>
    <div class="mdl-cell mdl-cell--10-col">
        <h3>Домашняя страница</h3>
        <p>Проект с открытым исходным <a href="https://github.com/SubMax/portfolio_django">кодом</a> для резюме. Подробная
            информация находится в <a href="/investinfo/about">About</a>.
        </p>
        <p>Откройте приложение <a href="/investinfo/">Invest info</a> и выберите компанию.</p>
    </div>
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-phone"></div>
</div>
{% endblock %}