{% extends 'base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <div class="container-sm">
        <div class="container">
            <div class="row">
                <div class="col-sm" style="text-align:right">
                    <p>Проект на GitHub</p>
                    <p>Почта</p>
                    <p>Skype</p>
                </div>
                <div class="col-sm" style="text-align:left">
                    <p><a href="https://github.com/SubMax/portfolio_django">/portfolio_django</a></p>
                    <p><a href="mailto:sub.m@live.ru?subject=Investinfo">sub.m@live.ru</a></p>
                    <p>@Soujiro2011</p>
                </div>
          </div>
        </div>
    </div>
{% endblock %}