{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <body>
        <form method="post" class="input-group mb-3">
            {% csrf_token %}
            {{ tickerform }}
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Найти</button>
            </div>
        </form>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Ticketr</th>
            </tr>
          </thead>
          <tbody>
            {% for ticker in list_ticker %}
            <tr>
              <th scope="row"><img height="25%" src="{{ ticker.logo_url }}" alt="logo"></th>
                <td><a class="p-2 text-dark" href="/investinfo/{{ ticker.pk }}">{{ ticker.name }}</a></td>
                <td><a class="p-2 text-dark" href="/investinfo/{{ ticker.pk }}">{{ ticker.ticker }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </body>
</html>
{% endblock %}