{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<form method="post" class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-phone"></div>
    <div class="mdl-cell mdl-cell--10-col">
        {% csrf_token %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ tickerform }}
        </div>
    </div>
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-phone"></div>
</form>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-phone"></div>
    <div class="mdl-cell mdl-cell--10-col">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="table-layout:fixed; width:100%;">
            <thead>
                <tr>
                    <th style="width: 15%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; text-align: center !important;">Logo</th>
                    <th style="width: 65%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; text-align: center !important;">Name</th>
                    <th style="width: 20%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; text-align: center !important;">Ticketr</th>
                </tr>
            </thead>
            <tbody>
                {% for ticker in list_ticker %}
                    <tr>
                        <td style="text-align: center !important;"><img height="100%" src="{{ ticker.logo_url }}" alt="logo"></td>
                        <td style="text-align: center !important;"><a href="/investinfo/{{ ticker.pk }}">{{ ticker.longName }}</a></td>
                        <td style="text-align: center !important;"><a href="/investinfo/{{ ticker.pk }}">{{ ticker.symbol }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-phone"></div>
</div>
{% endblock %}