{% extends 'base.html' %}

{% block favicon %}
    {{logo_url}}
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block navi %}
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        <a class="mdl-layout__tab" href="/investinfo/{{ title }}">Описание</a>
        <a class="mdl-layout__tab is-active" href="/investinfo/{{ title }}/chart/{{ period }}/{{ interval }}/">Детали</a>
    </div>
{% endblock %}

{% block content %}

<div class="chart_wrapper">
    <div class="container">
        <canvas id="myChart" class="chart_content" height="800px">Not support!</canvas>
        <div id="tickerName">{{ticker}}</div>
        <script type="text/javascript">
            var date = {{date|safe}};
            var adjclose = {{adjclose|safe}}
        </script>
    </div>
<!--    <div class="container">-->
<!--        <div class="mdl-grid">-->
<!--            <div class="mdl-cell mdl-cell">-->
<!--                <form method="post">-->
<!--                    {% csrf_token %}-->
<!--                    {{ dateform }}-->
<!--                </form>-->
<!--            </div>-->
<!--            <div class="mdl-cell mdl-cell">-->
<!--                <form method="post">-->
<!--                    {% csrf_token %}-->
<!--                    {{ periodform }}-->
<!--                    {{ intervalform }}-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
        <footer class="tool_bar">
            <button class="tool_calendar">
                <i class="material-icons">event</i>
            </button>
            <button class="tool_list">
                <i class="material-icons">straighten</i>
            </button>
            <button class="tool_list">
                <i class="material-icons">straighten</i>
            </button>
        </footer>
    </div>
</div>
{% endblock %}