{% extends 'base.html' %}

{% block favicon %}
    {{logo_url}}
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block navi %}
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        <a class="mdl-layout__tab" href="/investinfo/{{ title }}">Описание</a>
        <a class="mdl-layout__tab is-active" href="/investinfo/{{ title }}/chart/{{ period }}/{{ interval }}/">Детали</a>
    </div>
{% endblock %}

{% block content %}

<div class="chart_wrapper">
    <div class="container">
        <canvas id="myChart" class="chart_content" height="800px">Not support!</canvas>
        <script type="text/javascript">
            var date = {{date|safe}};
            var adjclose = {{adjclose|safe}};
            var labelname = '{{title}}';
        </script>
    </div>
        <footer class="tool_bar">
<!--            <button class="tool_calendar">-->
<!--                <i class="material-icons">event</i>-->
<!--            </button>-->
<!--            <button class="tool_list">-->
<!--                <i class="material-icons">straighten</i>-->
<!--            </button>-->
<!--            <button class="tool_list">-->
<!--                <i class="material-icons">straighten</i>-->
<!--            </button>-->
            <form method="post">
                {% csrf_token %}
                {{ dateform.start }}
                {{ dateform.end }}
                {{ dateform.accept }}
            </form>
            &nbsp;
            <form method="post">
                {% csrf_token %}
                {{ periodform }}
            </form>
            <form method="post">
                {% csrf_token %}
                {{ intervalform }}
            </form>
        </footer>
    </div>
</div>
{% endblock %}