{% extends 'base.html' %}

{% block favicon %}
    {{logo_url}}
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block navi %}
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        <a class="mdl-layout__tab" href="/investinfo/{{ title }}">Описание</a>
        <a class="mdl-layout__tab is-active" href="/investinfo/{{ title }}/chart/{{ period }}/{{ interval }}/">Детали</a>
    </div>
{% endblock %}

{% block content %}

<div class="conteiner">
    <div class="container">
        <canvas id="myChart"></canvas>
        <div id="tickerName">{{ticker}}</div>
        <script type="text/javascript">
            var ctx = document.getElementById('myChart').getContext('2d');
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [{% for d in date %}'{{d}}',{% endfor %}],
                    datasets: [{
                        data: [{% for d in adjclose %}'{{d}}',{% endfor %}],
                        label: "{{ title }}",
                        borderColor: "#3e95cd",
                        fill: false
                        }]
                  },
                  options: {
                    title: {
                      display: true,
                      text: 'Скорректированная цена закрытия акции'
                    }
                  }
                });
        </script>
    </div>
    <div class="container">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <form method="post">
                    {% csrf_token %}
                    {{ dateform }}
                </form>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <form method="post">
                    {% csrf_token %}
                    {{ periodform }}
                    {{ intervalform }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}