{% extends 'base.html' %}

{% block favicon %}
    {{logo_url}}
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}
{% block navi %}
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/investinfo/{{ title }}">Описание</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/investinfo/{{ title }}/chart/1d/1m/">Детали</a>
      </li>
    </ul>
{% endblock %}
{% block content %}
    <div class="container">
        <p style="text-align:center"><img src="{{logo_url}}" alt="logo"></p>
        <h1 align="center">{{ name }}</h1>
        <p>{{ description }}</p>
    </div>
{% endblock %}