{% extends 'base.html' %}

{% block favicon %}
  {{logo_url}}
{% endblock %}

{% block title %}
  {{ title }}
{% endblock %}

{% block title_open_graph %}
  {{ title }}
{% endblock %}

{% block url_open_graph %}
  {{ title }}
{% endblock %}

{% block name_open_graph %}
  {{name}}
{% endblock %}

{% block description_open_graph %}
  {{ description }}
{% endblock %}

{% block favicon_open_graph %}
  {{logo_url}}
{% endblock %}

{% block navi %}
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        <a class="mdl-layout__tab is-active" href="/investinfo/{{ title }}">Описание</a>
        <a class="mdl-layout__tab" href="/investinfo/{{ title }}/chart/1d/1m/">Детали</a>
    </div>
{% endblock %}
{% block content %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-phone"></div>
        <div class="mdl-cell mdl-cell--10-col">
            <div class="mdl-card mdl-shadow--2dp" style="width: 98%;">
                <div class="mdl-card__title" style="height: 400px; background: url({{logo_url}}) center; background-size: cover;">
                    <h2 class="mdl-card__title-text">{{ name }}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    {{ description }}
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/investinfo/{{ title }}/chart/1d/1m/">
                        Детали
                    </a>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-phone"></div>
    </div>
{% endblock %}